<!DOCTYPE html>
<html>
<head>

</head>

<body>
<h1>
The content for this test page can be found at the following locations:
</h1>
<p>
  <a href="http://localhost:9393/hello" title="hello">here</a> for the hello page.
</p>

<p>
  <a href="http://localhost:9393/goodbye" title="goodbye">here</a> for the goodbye page.
</p>

<p>
and <a href="http://localhost:9393/date" title="date">here</a> for the date page.
</p>

</body>

</html>